<!DOCTYPE html>
<html>
<head>
  <title>Fodio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tabs" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js" %>
  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" %>
</head>
<body ng-app="fodio" ng-controller="AppCtrl">

<%= yield %>

</body>
</html>
